.platforms{
    grid-area: platforms;

    .container{
        @include center-flex;
        flex-direction: row;
        width: 90%;
        margin:50px auto;

       .platforms-mobile{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            img{
                width: 30%;
            }
        }

        .platforms-tablet{
            display: none;
        }

        .platforms-desktop{
            display: none;
        }
    }
}
