.text-editor{
    grid-area: text-editor;
    margin-top: 50px;
    margin-bottom: 50px;

    .container{
        height: auto;
        @include center-flex;

         .editor-descrip{
            width: 100%;
            padding: 0px 0px;
    
            h2{
                font-size: 40px;
                font-weight: 600;
                padding-bottom: 20px;
            }
    
            p{
                @include font-properties(19px, 300, gray);
                line-height: 30px;
                
            }
        }

        .img-editor{
            width: 100%;
               
            img{
                width: 100%;
            }
        }
    }
    
}